<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/mine.css">
</head>
<body>

<!--导航-->
<div th:replace="_fragments :: navmenu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container width-martch">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">withYOU后台管理</h2>
            <!-- <i>标签，用于超链接引入图标？-->
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <div class="right m-item item m-mobile-hide">
                <div class="right menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                            Albert
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</div>

<!--body content-->
<div class="martch">
    <div class="ui container martch">
        <div class="ui stackable grid height-martch">
            <div class="four wide column height-martch">
                <div class="ui inverted vertical left menu height-martch">
                    <div th:replace="_fragments :: menu(4,1)" class="container">
                        <div class="header item">
                            首页
                        </div>
                        <div>
                            <div class="ui active teal item menudiv">
                                用户管理 <i class="dropdown icon right"></i>
                            </div>
                            <div class="item menuitem menu">
                                <a class="active item">普通用户信息</a>
                                <a class="item">志愿者信息</a>
                            </div>
                        </div>

                        <div>
                            <div class="ui active item checkdiv">
                                审核管理 <i class="dropdown icon right"></i>
                            </div>
                            <div class="item checkitem menu">
                                <a class="item">动态审核</a>
                                <a class="item">志愿者信息</a>
                            </div>
                        </div>

                        <div>
                            <div class="ui item recommenddiv">
                                资源推荐管理 <i class="dropdown icon right"></i>
                            </div>
                            <div class="item recommenditem menu">
                                <a class="item">动态审核</a>
                                <a class="item">志愿者信息</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--右边表格栏-->
            <div class="eleven wide column" style="margin-top:50px!important;">
                <div class="ui container">
                    <div class="ui segment form">
                        <!--隐含域，用于传参-->
                        <input type="hidden" name="page">
                        <div class="inline fields">
                            <div class="field">
                                <input type="hidden" name ="ctgy" value="qsdtinfo">
                                <input type="text" style="width: 200px !important;" name="keyWord" placeholder="search...">
                            </div>
                            <div class="field">
                                <button id="search-btn" class="ui mini teal basic button">
                                    <i class="search icon"></i>搜索
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="table-container">
                        <table th:fragment="qsdtList" class="ui celled table martch">
                            <thead>
                            <th>题目序号</th>
                            <th>问题描述</th>
                            <th>得分规则</th>
                            <th>选项1</th>
                            <th>选项2</th>
                            <th>选项3</th>
                            <th>选项4</th>
                            <th>操作</th>
                            </thead>
                            <tbody>
                            <tr th:each="qsdt:${qsdtVo.datalist}">
                                <td th:text="${qsdt.qsNumber}">1</td>
                                <td th:text="${qsdt.qsContent}">问题描述</td>
                                <td th:text="${qsdt.scoreRule}">得分规则</td>
                                <td th:text="${qsdt.qsOption1}">选项1</td>
                                <td th:text="${qsdt.qsOption2}">选项2</td>
                                <td th:text="${qsdt.qsOption3}">选项3</td>
                                <!--  <td>2020-01-15 22:25</td>-->
                                <td th:text="${qsdt.qsOption4}">选项4</td>
                                <td>
                                    <a href="#" class="ui mini teal basic button">编辑</a>
                                    <a href="#"
                                       th:href="@{/admin/qstest/deleteQsDt/(current = ${qsdtVo.current},qsNumber = ${qsdt.qsNumber},qsId = ${qsId})}"
                                       class="ui mini red basic button">删除</a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="10">
                                    <div class="ui mini floated pagination menu" th:if="${qsdtVo.pages}>1">
                                        <a onclick="page(this)" th:attr="data-page=${qsdtVo.current}-1" class="item"
                                           th:unless="${qsdtVo.current}==1">上一页</a>
                                        <a onclick="page(this)" th:attr="data-page=${qsdtVo.current}+1" class="item"
                                           th:unless="${qsdtVo.current}==${qsdtVo.pages}">下一页</a>
                                    </div>
                                    <a href="#"
                                       class="ui mini right floated teal basic button add">新增</a>
                                    <!--<a href="#" th:href="@{/admin/blogs/input}"
                                       class="ui mini right floated teal basic button">新增</a>-->
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--模态窗口-->
<div class="ui small m-padded active modal">
    <form id="videoform" class="ui m-margin-large form segment teal" th:action="@{/admin/qstest/addqsdt}"
          method="post" enctype="multipart/form-data">
        <h3 class="ui dividing teal header">添加题目</h3>
        <div class="ui two fields required m-margin">
            <div class="field">
                <label>题目序号</label>
                <div class="field">
                    <input type="text" name="qsNumber" placeholder="题目序号">
                </div>
            </div>
            <div class="field">
                <label>得分规则</label>
                <div class="field">
                    <input type="text" name="scoreRule" placeholder="得分规则">
                </div>
            </div>
        </div>
        <!-- <div class="ui required field m-margin-large">
             <label>发布日期</label>
             <div class="field">
                 <input type="date" name="qsCreateTime" placeholder="2020-04-16">
             </div>
         </div>-->

        <div class="required field m-margin-large">
            <label>问题描述</label>
            <textarea name="qsContent" style="height: 50px !important;"></textarea>
        </div>

        <div class="required field">
            <label>选项1</label>
            <div class="field">
                <input type="text" name="qsOption1" placeholder="选项1">
            </div>
        </div>
        <div class="required field">
            <label>选项2</label>
            <div class="field">
                <input type="text" name="qsOption2" placeholder="选项2">
            </div>
        </div>
        <div class="field">
            <label>选项3</label>
            <div class="field">
                <input type="text" name="qsOption3" placeholder="选项3">
            </div>
        </div>
        <div class="field">
            <label>选项4</label>
            <div class="field">
                <input type="text" name="qsOption4" placeholder="选项4">
            </div>
        </div>

        <div class="required field">
            <div class="field">
                <input type="hidden" name="userId" th:value="${session.user.userId}">
                <input type="hidden" name="qsId" th:value="${qsId}">
            </div>
        </div>
        <div class="required field">
            <div class="ui error message">
                <div class="header">We noticed some issues</div>
            </div>
        </div>

        <div class="ui container right aligned">
            <div class="ui button grey m-margin-lr-form segment cancel">取消添加</div>
            <div id="publish-btn" class="ui submit button teal segment">确认添加</div>
        </div>

    </form>
</div>


<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment">
    <div class="ui center aligned container">
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright @ 2020 Designed by Albert</p>
    </div>
</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.menudiv').click(
        function () {
            $('.menuitem').toggle();
        }
    );

    $('.ui.checkdiv').click(
        function () {
            $('.checkitem').toggle();
        }
    );
    $('.ui.recommenddiv').click(
        function () {
            $('.recommenditem').toggle();
        }
    );

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });


    $('.ui.add').click(
        function () {
            $('.ui.modal').modal('show')
        }
    );
    $('.ui.modal').modal('hide');

    $('.ui.button.cancel').click(
        function () {
            $('.ui.modal').modal('hide');
        });

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        searchdata();
    }


    $('#publish-btn').click(function () {
        $('#videoform').submit;
    });

    $('#videoform').form({
        fields: {
            qsNumber: {
                identifier: 'qsNumber',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：题目序号不能为空'
                }]
            },
            qsContent: {
                identifier: 'qsContent',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：问题描述不能为空'
                }]
            },
            scoreRule: {
                identifier: 'scoreRule',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：选项得分规则不能为空'
                }]
            },

            qsOption1: {
                identifier: 'qsOption1',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：选项1不能为空'
                }]
            },

            qsOption2: {
                identifier: 'qsOption2',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：选项2不能为空'
                }]
            },
        }
    });

    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        searchdata();
    });

    function searchdata() {
        $("#table-container").load(/*[[@{/admin/search/qstest}]]*/"/admin/search/qstest", {
            current: $("[name='page']").val(),
            ctgy : $("[name='ctgy']").val(),
            keyWord : $("[name='keyWord']").val()
        });
    }
</script>

</body>
</html>