<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/mine.css">
</head>
<body>

<!--导航-->
<div th:replace="_fragments :: navmenu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container width-martch">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">withYOU后台管理</h2>
            <!-- <i>标签，用于超链接引入图标？-->
             <div class="right m-item item m-mobile-hide">
                <div class="right menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                            Albert
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</div>

<!--body content-->
<div class="martch">
    <div class="ui container martch">
        <div class="ui stackable grid height-martch">
            <div class="four wide column height-martch">
                <div class="ui inverted vertical left menu height-martch">
                    <div th:replace="_fragments :: menu(3,2)" class="container">
                        <div class="header item">
                            首页
                        </div>
                        <div>
                            <div class="ui active teal item menudiv">
                                用户管理 <i class="dropdown icon right"></i>
                            </div>
                            <div class="item menuitem menu">
                                <a class="active item">普通用户信息</a>
                                <a class="item">志愿者信息</a>
                            </div>
                        </div>

                        <div>
                            <div class="ui active item checkdiv">
                                审核管理 <i class="dropdown icon right"></i>
                            </div>
                            <div class="item checkitem menu">
                                <a class="item">动态审核</a>
                                <a class="item">志愿者信息</a>
                            </div>
                        </div>

                        <div>
                            <div class="ui item recommenddiv">
                                资源推荐管理 <i class="dropdown icon right"></i>
                            </div>
                            <div class="item recommenditem menu">
                                <a class="item">动态审核</a>
                                <a class="item">志愿者信息</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--右边表格栏-->
            <div class="eleven wide column" style="margin-top:50px!important;">
                <div class="ui container">
                    <div class="ui segment form">
                        <!--隐含域，用于传参-->
                        <input type="hidden" name="page">
                        <div class="inline fields">
                            <div class="field">
                                <input type="hidden" name ="ctgy" value="music">
                                <input type="text" style="width: 200px !important;" name="keyWord" placeholder="search...">
                            </div>
                            <div class="field">
                                <button id="search-btn" class="ui mini teal basic button">
                                    <i class="search icon"></i>搜索
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="table-container">
                        <table th:fragment="musicList" class="ui celled table martch">
                            <thead>
                            <th>序号</th>
                            <th>歌曲名称</th>
                            <th>首图</th>
                            <th>播放地址</th>
                            <th>歌手名</th>
                            <th>发布时间</th>
                            <th>音乐简介</th>
                            <th>分类标签</th>
                            <th>推荐理由</th>
                            <th>点赞数</th>
                            <th>操作</th>
                            </thead>
                            <tbody>
                            <tr th:each="music:${musicVo.datalist}">
                                <td>1</td>
                                <td th:text="${music.rcmMusicName}">1</td>
                                <td th:text="${music.firstPictrue}">普通用户</td>
                                <td th:text="${music.playAddress}" class="a">头像地址</td>
                                <td th:text="${music.singer}">翻斗街翻斗花园</td>
                                <td th:text="${music.createTime}">2020-04-12</td>
                                <td th:text="${music.rcmMusicIntro}">1</td>
                                <td th:text="${music.categoryTag}">普通用户</td>
                                <td th:text="${music.rcmReason}" class="a">头像地址</td>
                                <td th:text="${music.praiseCount}">翻斗街翻斗花园</td>
                                <!--  <td>2020-01-15 22:25</td>-->
                                <td>
                                    <a href="#" class="ui mini teal basic button">编辑</a>
                                    <a href="#" th:href="@{/admin/recmd/delete(current=${musicVo.current},recmId=${music.rcmMusicId},ctgy='music')}"
                                       class="ui mini red basic button">删除</a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="11">
                                    <div class="ui mini floated pagination menu" th:if="${musicVo.pages}>1">
                                        <a onclick="page(this)" th:attr="data-page=${musicVo.current}-1" class="item"
                                           th:unless="${musicVo.current}==1">上一页</a>
                                        <a onclick="page(this)" th:attr="data-page=${musicVo.current}+1" class="item"
                                           th:unless="${musicVo.current}==${musicVo.pages}">下一页</a>
                                    </div>
                                    <a href="#"
                                       class="ui mini right floated teal basic button add">新增</a>
                                    <!--<a href="#" th:href="@{/admin/blogs/input}"
                                       class="ui mini right floated teal basic button">新增</a>-->
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--模态窗口-->
<div class="ui small m-padded active modal">
    <form id="musicform" class="ui m-margin-large form segment teal" th:action="@{/admin/recmd/addMusic}"
          method="post" enctype="multipart/form-data">
        <h3 class="ui dividing teal header">添加音乐推荐</h3>
        <div class="two fields">
            <div class="field m-margin-large">
                <label>推荐首图</label>
                <div class="ui container teal segment">
                    <input type="file" name="upPic" id="test-image-file"
                           accept="image/gif, image/jpeg, image/png, image/jpg">
                </div>
            </div>
            <div class="field">
                <div class="ui field required m-margin">
                    <label>歌曲名称</label>
                    <div class="field">
                        <input type="text" name="rcmMusicName" placeholder="歌曲名称">
                    </div>
                </div>
                <div class="ui required field m-margin">
                    <label>推荐标签</label>
                    <div class="ui left labeled action input">
                        <div class="ui tag fluid selection dropdown multiple search">
                            <input type="hidden" name="categoryTag">
                            <i class="dropdown icon"></i>
                            <div class="default text">标签</div>
                            <div class="menu">
                                <div class="item" data-value="舒缓纯音乐"
                                >舒缓纯音乐
                                </div>
                                <div class="item" data-value="解压"
                                >解压
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="ui three fields required m-margin">
            <div class="five wide field">
                <label>歌手</label>
                <div class="field">
                    <input type="text" name="singer" placeholder="歌手名字">
                </div>
            </div>
            <div class="field">
                <label>播放平台</label>
                <div class="field">
                    <input type="text" name="playAddress" placeholder="播放平台">
                </div>
            </div>
            <div class="field">
                <label>发布日期</label>
                <div class="field">
                    <input type="date" name="releaseTime" placeholder="2020-04-16">
                </div>
            </div>
        </div>


        <div class="required field m-margin-large">
            <label>歌曲简介</label>
            <textarea name="rcmMusicIntro"></textarea>
        </div>

        <div class="required field m-margin-large">
            <label>推荐理由</label>
            <textarea name="rcmReason"></textarea>
        </div>

        <div class="required field">
            <div class="field">
                <input type="hidden" name="userId" th:value="${session.user.userId}">
            </div>
        </div>
        <div class="required field">
            <div class="ui error message">
                <div class="header">We noticed some issues</div>
            </div>
        </div>

        <div class="ui container right aligned">
            <div class="ui button grey m-margin-lr-form segment cancel">取消添加</div>
            <div id="publish-btn" class="ui submit button teal segment">确认添加</div>
        </div>

    </form>
</div>


<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment">
    <div class="ui center aligned container">
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright @ 2020 Designed by Albert</p>
    </div>
</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.menudiv').click(
        function () {
            $('.menuitem').toggle();
        }
    );

    $('.ui.checkdiv').click(
        function () {
            $('.checkitem').toggle();
        }
    );
    $('.ui.recommenddiv').click(
        function () {
            $('.recommenditem').toggle();
        }
    );

    $('.ui.qsbankdiv').click(
        function () {
            $('.qsbankitem').toggle();
        }
    );

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('.ui.tag.dropdown').dropdown({
        allowAdditions: true
    });

    $('.ui.add').click(
        function () {
            $('.ui.modal').modal('show')
        }
    );
    $('.ui.modal').modal('hide');

    $('.ui.button.cancel').click(function () {
        $('.ui.modal').modal('hide');
    });

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    function loaddata() {
        $("#table-container").load(/*[[@{/admin/pageChange}]]*/"/admin/pageChange", {
            current: $("[name='page']").val()
        });
    }

    $('#publish-btn').click(function () {
        $('#musicform').submit;
    });

    $('ui.button.cancel').click(function () {
        $('.ui.modal').modal('hide');
    });

    $('#musicform').form({
        fields: {
            rcmMusicName: {
                identifier: 'rcmMusicName',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：歌曲名称不能为空'
                }]
            },

            categoryTag: {
                identifier: 'categoryTag',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：分类标签不能为空'
                }]
            },

            singer: {
                identifier: 'singer',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：歌手不能为空'
                }]
            },
            playAddress: {
                identifier: 'playAddress',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：播放平台不能为空'
                }]
            },
            rcmMusicIntro: {
                identifier: 'rcmMusicIntro',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：歌曲简介不能为空'
                }]
            },
            rcmReason: {
                identifier: 'rcmReason',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：推荐理由不能为空'
                }]
            }
        }
    });
    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        searchdata();
    });


    function searchdata() {
        $("#table-container").load(/*[[@{/admin/search/rcminfo}]]*/"/admin/search/rcminfo", {
            current: $("[name='page']").val(),
            ctgy : $("[name='ctgy']").val(),
            keyWord : $("[name='keyWord']").val()
        });
    }

</script>

</body>
</html>