<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/mine.css">
</head>
<body>

<!--导航-->
<div th:replace="_fragments :: navmenu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container width-martch">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">withYOU后台管理</h2>
            <!-- <i>标签，用于超链接引入图标？-->
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <div class="right m-item item m-mobile-hide">
                <div class="right menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                            Albert
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</div>

<!--body content-->
<div class="martch">
    <div class="ui container martch">
        <div class="ui stackable grid height-martch">
            <div class="four wide column height-martch">
                <div class="ui inverted vertical left menu height-martch">
                    <div th:replace="_fragments :: menu(3,3)" class="container">
                        <div class="header item">
                            首页
                        </div>
                        <div>
                            <div class="ui active teal item menudiv">
                                用户管理 <i class="dropdown icon right"></i>
                            </div>
                            <div class="item menuitem menu">
                                <a class="active item">普通用户信息</a>
                                <a class="item">志愿者信息</a>
                            </div>
                        </div>

                        <div>
                            <div class="ui active item checkdiv">
                                审核管理 <i class="dropdown icon right"></i>
                            </div>
                            <div class="item checkitem menu">
                                <a class="item">动态审核</a>
                                <a class="item">志愿者信息</a>
                            </div>
                        </div>

                        <div>
                            <div class="ui item recommenddiv">
                                资源推荐管理 <i class="dropdown icon right"></i>
                            </div>
                            <div class="item recommenditem menu">
                                <a class="item">动态审核</a>
                                <a class="item">志愿者信息</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--右边表格栏-->
            <div class="eleven wide column" style="margin-top:50px!important;">
                <div class="ui container">
                    <div class="ui segment form">
                        <!--隐含域，用于传参-->
                        <input type="hidden" name="page">
                        <div class="inline fields">
                            <div class="field">
                                <input type="hidden" name ="ctgy" value="videos">
                                <input type="text" style="width: 200px !important;" name="keyWord" placeholder="search...">
                            </div>
                            <div class="field">
                                <button id="search-btn" class="ui mini teal basic button">
                                    <i class="search icon"></i>搜索
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="table-container">
                        <table th:fragment="videosList" class="ui celled table martch">
                            <thead>
                            <th>序号</th>
                            <th>电影名称</th>
                            <th>首图</th>
                            <th>内容简介</th>
                            <th>点映地址</th>
                            <th>上映时间</th>
                            <th>导演</th>
                            <th>主演</th>
                            <th>分类标签</th>
                            <th>推荐理由</th>
                            <th>点赞数</th>
                            <th>操作</th>
                            </thead>
                            <tbody>
                            <tr th:each="videos:${videosVo.datalist}">
                                <td>1</td>
                                <td th:text="${videos.rcmvdTitle}">肖申克的救赎</td>
                                <td th:text="${videos.firstPictrue}">首图地址</td>
                                <td th:text="${videos.rcmvdIntro}">内容简介</td>
                                <td th:text="${videos.watchAddress}">腾讯视频</td>
                                <td th:text="${videos.releaseTime}">2020-04-12</td>
                                <td th:text="${videos.director}">导演</td>
                                <td th:text="${videos.mainPerforme}">主演</td>
                                <td th:text="${videos.categoryTag}">test</td>
                                <td th:text="${videos.rcmReason}">推荐理由</td>
                                <td th:text="${videos.praiseCount}">点赞数</td>
                                <!--  <td>2020-01-15 22:25</td>-->
                                <td>
                                    <a href="#" class="ui mini teal basic button">编辑</a>
                                    <a href="#"
                                       th:href="@{/admin/recmd/delete(current=${videosVo.current},recmId=${videos.rcmvdId},ctgy='videos')}"
                                       class="ui mini red basic button">删除</a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="12">
                                    <div class="ui mini floated pagination menu" th:if="${videosVo.pages}>1">
                                        <a onclick="page(this)" th:attr="data-page=${videosVo.current}-1" class="item"
                                           th:unless="${videosVo.current}==1">上一页</a>
                                        <a onclick="page(this)" th:attr="data-page=${videosVo.current}+1" class="item"
                                           th:unless="${videosVo.current}==${videosVo.pages}">下一页</a>
                                    </div>
                                    <a href="#"
                                       class="ui mini right floated teal basic button add">新增</a>
                                    <!--<a href="#" th:href="@{/admin/blogs/input}"
                                       class="ui mini right floated teal basic button">新增</a>-->
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--模态窗口-->
<div class="ui small m-padded active modal">
    <form id="videoform" class="ui m-margin-large form segment teal" th:action="@{/admin/recmd/addVideos}"
          method="post" enctype="multipart/form-data">
        <h3 class="ui dividing teal header">添加影视推荐</h3>
        <div class="two fields">
            <div class="field m-margin-large">
                <label>推荐首图</label>
                <div class="ui container teal segment">
                    <input type="file" name="upPic" id="test-image-file"
                           accept="image/gif, image/jpeg, image/png, image/jpg">
                </div>
            </div>
            <div class="field">
                <div class="ui field required m-margin">
                    <label>影视名称</label>
                    <div class="field">
                        <input type="text" name="rcmvdTitle" placeholder="影视名称">
                    </div>
                </div>
                <div class="ui required field m-margin">
                    <label>推荐标签</label>
                    <div class="ui left labeled action input">
                        <div class="ui tag fluid selection dropdown multiple search">
                            <input type="hidden" name="categoryTag">
                            <i class="dropdown icon"></i>
                            <div class="default text">标签</div>
                            <div class="menu">
                                <div class="item" data-value="1"
                                >亲情
                                </div>
                                <div class="item" data-value="1"
                                >治愈
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="ui two fields required m-margin">
            <div class="five wide field">
                <label>导演</label>
                <div class="field">
                    <input type="text" name="director" placeholder="导演">
                </div>
            </div>
            <div class="eleven wide ui required field">
                <label>主演</label>
                <div class="ui left labeled action input">
                    <div class="ui tag fluid selection dropdown multiple search">
                        <input type="hidden" name="mainPerforme">
                        <i class="dropdown icon"></i>
                        <div class="default text">标签</div>
                        <div class="menu">
                            <div class="item" data-value="albert"
                            >albert
                            </div>
                            <div class="item" data-value="dick"
                            >dick
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui two fields required m-margin">
            <div class="field">
                <label>点映地址</label>
                <div class="field">
                    <input type="text" name="watchAddress" placeholder="出版社名称">
                </div>
            </div>
            <div class="required field">
                <label>上映日期</label>
                <div class="field">
                    <input type="date" name="releaseTime" placeholder="2020-04-16">
                </div>
            </div>
        </div>

        <div class="required field m-margin-large">
            <label>内容简介</label>
            <textarea name="rcmvdIntro"></textarea>
        </div>

        <div class="required field m-margin-large">
            <label>推荐理由</label>
            <textarea name="rcmReason"></textarea>
        </div>

        <div class="required field">
            <div class="field">
                <input type="hidden" name="userId" th:value="${session.user.userId}">
            </div>
        </div>
        <div class="required field">
            <div class="ui error message">
                <div class="header">We noticed some issues</div>
            </div>
        </div>

        <div class="ui container right aligned">
            <div class="ui button grey m-margin-lr-form segment cancel">取消添加</div>
            <div id="publish-btn" class="ui submit button teal segment">确认添加</div>
        </div>

    </form>
</div>


<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment">
    <div class="ui center aligned container">
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright @ 2020 Designed by Albert</p>
    </div>
</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.menudiv').click(
        function () {
            $('.menuitem').toggle();
        }
    );

    $('.ui.checkdiv').click(
        function () {
            $('.checkitem').toggle();
        }
    );
    $('.ui.recommenddiv').click(
        function () {
            $('.recommenditem').toggle();
        }
    );

    $('.ui.qsbankdiv').click(
        function () {
            $('.qsbankitem').toggle();
        }
    );

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('.ui.tag.dropdown').dropdown({
        allowAdditions: true
    });

    $('.ui.add').click(
        function () {
            $('.ui.modal').modal('show')
        }
    );
    $('.ui.modal').modal('hide');

    $('.ui.button.cancel').click(
        function () {
            $('.ui.modal').modal('hide');
        });

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    function loaddata() {
        $("#table-container").load(/*[[@{/admin/pageChange}]]*/"/admin/pageChange", {
            current: $("[name='page']").val()
        });
    }

    $('#publish-btn').click(function () {
        $('#videoform').submit;
    });

    $('#videoform').form({
        fields: {
            rcmvdTitle: {
                identifier: 'rcmvdTitle',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：电影名称不能为空'
                }]
            },
            categoryTag: {
                identifier: 'categoryTag',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：分类标签不能为空'
                }]
            },
            director: {
                identifier: 'director',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：导演名字不能为空'
                }]
            },
            mainPerforme: {
                identifier: 'mainPerforme',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：主演人员不能为空'
                }]
            },
            watchAddress: {
                identifier: 'watchAddress',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：点映地址不能为空'
                }]
            },
            rcmvdIntro: {
                identifier: 'rcmvdIntro',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：内容简介不能为空'
                }]
            },
            rcmReason: {
                identifier: 'rcmReason',
                rules: [{
                    type: 'empty',
                    prompt: '输入错误：推荐理由不能为空'
                }]
            }
        }
    });

    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        searchdata();
    });

    function searchdata() {
        $("#table-container").load(/*[[@{/admin/search}]]*/"/admin/search", {
            ctgy : $("[name='ctgy']").val(),
            keyWord : $("[name='keyWord']").val()
        });
    }

</script>

</body>
</html>